body{
    text-align: center;
    background-image: url(https://img.freepik.com/free-vector/dark-gradient-background-with-copy-space_53876-99548.jpg?fit=crop&w=240&h=130?auto=format&fit=crop&w=480&h=260);
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    color: white;
    

}